<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Reviews:</strong>
  <% if @restaurant.reviews.empty? %>
    <%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant) %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      Rating: <%= review.rating %><br>
      Content: <%= review.content %><br>
    <% end %>
    <%= link_to 'Leave a Review_', new_restaurant_review_path(@restaurant) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
